<ion-list padding>
  <button ion-button block (click)="startScanning()">scan</button>
  <ion-list-header color="danger">
    Paired Devices
  </ion-list-header>
  <ion-item *ngFor="let device of pairedDevices">
    {{device.name}}
  </ion-item>
  <button ion-button block (click)="disconnect()">Disconnect</button>
  <ion-list-header>
    availlable Devices
  </ion-list-header>
  <ion-item *ngFor='let device of unpairedDevices, let i=index'>
    <span (click)="selectDevice(device.address)">
      {{device.name}}
    </span>
  </ion-item>

  <ion-item-options side="right">
      <button ion-button color="primary"
              (click)="borrar_bluetooth ( i )">
        <ion-icon name="trash"></ion-icon>
        Borrar
      </button>
    </ion-item-options>
  <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
</ion-list>
